<div class="h-screen w-[300px] bg-[#E0DDF0] flex flex-col items-center justify-between py-20 box-border">
    <div class="flex flex-col items-center gap-20">
        <img src="./assets/img/logo/new-logo-indigo.svg" alt="Logo Projet" />
        <div class="flex flex-col gap-2">
            <a routerLink="/classic" routerLinkActive="bg-[#8F84CA7D] rounded-3xl" class="text-xl w-[161px] text-center py-2">{{
                'Classic' | translate
            }}</a>
            <a routerLink="/time-limit-lobby" routerLinkActive="bg-[#8F84CA7D] rounded-3xl" class="text-xl w-[161px] text-center py-2">{{
                'Time Limit' | translate
            }}</a>
            <a routerLink="/matches" routerLinkActive="bg-[#8F84CA7D] rounded-3xl" class="text-xl w-[161px] text-center py-2">{{
                'Spectate' | translate
            }}</a>
            <a routerLink="/config" routerLinkActive="bg-[#8F84CA7D] rounded-3xl" class="text-xl w-[161px] text-center py-2">Administration</a>

            <a routerLink="/home" routerLinkActive="bg-[#8F84CA7D] rounded-3xl" class="text-xl w-[161px] text-center py-2">Global Chat</a>
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <div class="text-xl w-[161px] text-center py-2">
            <a routerLink="/account" routerLinkActive="bg-[#8F84CA7D] rounded-3xl" class="flex justify-center text-xl w-[161px] text-center py-2">{{
                'Profile' | translate
            }}</a>
        </div>
        <!-- <div class="text-xl w-[161px] text-center py-2">{{ 'Preferences' | translate }}</div> -->
    </div>
</div>
