<app-sidebar></app-sidebar>
<div>
    <app-game-chat-component></app-game-chat-component>
</div>
<div class="flex w-[calc(100vw-350px)] ml-[350px] px-12 box-border mt-12 justify-center back">
    <div class="flex flex-col gap-10 bg-[#E0DDF0] bg-opacity-30 p-10 rounded-2xl w-fit">
        <div *ngIf="!currentMatch" class="flex flex-col w-[380px] gap-10">
            <div class="flex justify-between">
                <span class="text-3xl">{{ 'Rooms' | translate }}</span>
                <button
                    (click)="createLobby()"
                    class="bg-[#8F84CA] bg-opacity-50 w-fit h-fit p-2 rounded-full flex items-center border-0 cursor-pointer"
                >
                    <mat-icon class="">add</mat-icon>
                </button>
            </div>
            <div class="flex flex-col gap-5 back">
                <div class="flex justify-between bg-[#E0DDF0] bg-opacity-30 rounded-2xl p-5" *ngFor="let match of filteredMatches">
                    <div class="flex gap-2 items-center">
                        <div class="w-8 h-8 bg-slate-500 rounded-full"></div>
                        <span class="text-xl">{{ match.players[0].name }}</span>
                    </div>
                    <button
                        (click)="joinLobby(match.matchId)"
                        class="bg-[#1A1789] bg-opacity-45 w-fit h-fit text-2xl py-2 text-white px-11 rounded-full flex items-center border-0 cursor-pointer"
                    >
                        {{ 'Join' | translate }}
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="currentMatch" class="flex flex-col w-[480px] gap-10 back">
            <div class="flex justify-between">
                <span class="text-3xl awaitting">{{ 'Awaiting' | translate }}</span>
                <div class="flex gap-2">
                    <button
                        *ngIf="currentMatch.players.length >= 2 && currentMatch.players[0].id === socketService.socket.id"
                        (click)="startGame()"
                        class="bg-[#8F84CA] bg-opacity-50 w-fit h-fit px-4 py-2 text-xl rounded-full flex items-center border-0 cursor-pointer"
                    >
                        {{ 'Start' | translate }}
                    </button>
                    <button
                        (click)="leaveLobby()"
                        class="bg-[#CA8484] bg-opacity-50 w-fit h-fit p-2 rounded-full flex items-center border-0 cursor-pointer"
                    >
                        <mat-icon class="">exit_to_app</mat-icon>
                    </button>
                </div>
            </div>
            <div class="flex flex-col gap-5 back">
                <div class="flex justify-between bg-[#E0DDF0] bg-opacity-30 rounded-2xl p-5" *ngFor="let player of currentMatch.players">
                    <div class="flex gap-2 items-center">
                        <div class="w-8 h-8 bg-slate-500 rounded-full overflow-hidden">
                            <img [src]="player.profilePic" class="w-full h-full" />
                        </div>
                        <span class="text-xl">{{ player.name }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
