.container {
    min-height: 100vh;
    height: auto;
}

.bg-white {
    background-color: #ffffff;
}

.dark .bg-white {
    background-color: #333333;
}

.toggle-dark-mode {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button {
    margin-top: 10px;
    text-align: center;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: green;
}

.header-item {
    justify-content: center;
    text-align: center;
}

.footer-item {
    text-align: center;
}

.footer-item p :nth-child(even) {
    color: orange;
}
.footer-item p :nth-child(odd) {
    color: blue;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}

.button {
    width: 10rem;
    padding: auto;
}
