<div class="container">
    <div class="flex flex-col gap-6 w-[calc(100vw-300px)] ml-[300px] px-12 box-border mt-12 justify-center" *ngIf="this.gamesLoaded">
        <a
            class="bg-[#8F84CA] bg-opacity-50 w-fit h-fit py-2 px-4 rounded-full flex items-center border-0 text-xl cursor-pointer self-end"
            routerLink="/create"
        >
            <mat-icon>library_add</mat-icon> {{ 'New Game' | translate }}
        </a>
        <app-games-display [pageNumber]="currentPage" [configOn]="this.configOn"></app-games-display>
    </div>
</div>
